<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      // This constant string is used as a "salt" value for the PasswordDeriveBytes function calls.
      // This size of the IV (in bytes) must = (keysize / 8).  Default keysize is 256, so the IV must be
      // 32 bytes long. 
      // Important: Using a 16 character string here gives us 32 bytes when converted to a byte array.
      // Warning: Never change if you already have saved data
    -->
    <add key="BasicCipherVector" value="$cH0o1pr=j#cT$&amp;o"/>
  </appSettings>
</configuration>