<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SchoolContext" connectionString="server=localhost;user id=$school;password=mY$qL.$ch0ol;persistsecurityinfo=True;database=dbschool;connectiontimeout=3600" providerName="MySql.Data.MySqlClient"/>
    <add name="SiraContext" connectionString="Data Source=.\SQLExpress;Database=SIRA;Trusted_Connection=Yes;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>
    <add name="OnlineSiraContext" connectionString="Data Source=mxmex1508;Initial Catalog=SIRA;Persist Security Info=True;User ID=App_Sira;Password=!re42/eXh(s9;Connect Timeout=3600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TempPath" value="Files/Temp/"/>
    <add key="ClockValue" value="3147483648"/>
    <add key="SMTP" value="MXMEX0107"/>
    <add key="Domain" value="mx\"/>
    <add key="EmailDomain" value="@deloittemx.com"/>
    <add key="EmailUri" value="http://localhost/sira-v2-f2.1/#/"/>
    <add key="TokenExpiresAfter" value="60"/>
    <add key="ScannerTokenExpiresAfter" value="10"/>
    <add key="DefaultSystemUser" value="1077"/>
    <add key="ExhibitionID" value="32"/>
    <add key="ExhibitionValue" value="Exhibición"/>
    <add key="EncryptPassword" value="true"/>
    <add key="PhysicalPath" value="" />
    <add key="PartialToken" value="wHCqG51nA2n0WJY+QutECA=="/>
    <add key="Claims" value="organization;name;email;user"/>
    <add key="ColorException" value="Area2D.swf,Line.swf"/>
    <add key="ValidCombinationChartsID" value="1;2;5;7"/>
    <add key="CombinationGroupID" value="7"/>
    <add key="IncludeCombinationCharts" value="false"/>
    <add key="MiniGraphicWidth" value="490"/>
    <add key="MiniGraphicHeight" value="210"/>
    <add key="PresentationImageTitle" value="General"/>
    <add key="AdviceEmailUri" value="IEShare/Advice/?type={0}&amp;item={1}"/>
    <add key="AuditorCode" value="NR01" />
    <add key="CompanyCode" value="05201" />
    <add key="OtherValue" value="0.32" />
    <add key="NegativeValue" value="-0.99" />
    <add key="Start" value="2014-11-10"/>
    <add key="End" value="2015-11-20"/>
    <add key="InvalidDate" value="2015-02-29"/>
    <add key="NotAndArray" value="A, B ó C"/>
    <add key="ValidArray" value="A|B|C|D"/>
    <add key="ValidBooleanArray" value="TRUE|false|False|true"/>
    <add key="CharValue" value="Z"/>
    <add key="Delimiter" value="|"/>
    <add key="ValidBoolean" value="True"/>
  </appSettings>
</configuration>