body { background-color: #fff; }
body, p, img, form, div { padding: 0 0 0 0; margin: 0 0 0 0; }
h1, h2, h3, h4, h5, h6 { padding: 0 0 0 0; margin: 0 0 8px 0; }
body, input, textarea, p, div, h1, h2, h3, h4, h5, h6 { color: #212121; font-family: Calibri; font-size: 13px; }
p { margin-bottom: 8px; }
h1 { font-size: 200%; }
h2 { font-size: 170%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }
input[type=text], input[type=password], .datepicker, textarea, select { margin: 0 0; font-size: 13px; border-radius: 3px; border: 1px solid #93DB0A; background-color: #fff; padding: 3px 3px 3px 4px; font-weight: bold; margin-bottom: 2px; }
textarea, input { padding: 1px 3px 1px 3px; }
input[readonly=readonly] { border-color: rgba(147, 219, 10, .3) !important; background-color: transparent; }
.has-icon-left { margin-left: 8px; }
.has-icon-right { margin-right: 8px; }
.alert { width: 70%; margin: 0 auto; }
/* pagina de error */
.center { text-align: center; margin: 0 auto; }
.error { font-size: 12px; font-weight: bold; color: #CC0A0C; background-color: #FEF8F6; border: solid 1px #CC0A0C; padding: 12px 18px 12px 18px; border-radius: 6px; }
.error-detail { padding: 12px 18px 12px 18px; width: 60%; border: dashed 1px #efefef; background-color: #fff; color: #cdcdcd; font-size: 10px; border-radius: 6px; }
.error-detail:hover { border: dashed 1px #999; }
.error-detail span { padding: 12px 18px 12px 18px; word-wrap: break-word; color: #404040; display: block; text-align: left; margin: 6px auto; background-color: #FFFFC4; border: dashed 1px #D98E05; border-radius: 6px; }
.error-text { font-size: 10px; color: #CC0A0C; }
